USE [Central]
GO
/****** Object:  StoredProcedure [dbo].[SP_BSC_ComprasSugeridasGeneral]    Script Date: 25/08/2018 12:43:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF  EXISTS (SELECT * FROM SYS.OBJECTS WHERE TYPE = 'P' AND NAME = 'SP_BSC_ComprasSugeridasGeneral')
DROP PROCEDURE SP_BSC_ComprasSugeridasGeneral
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[SP_BSC_ComprasSugeridasGeneral]
	-- Add the parameters for the stored procedure here
	@Codigo char(40),
	@Descripcion char(200),
	@Centro int,
	@Morelos int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @correcto bit

	begin transaction;
	begin try

		declare @Existe int
		select @Existe = count(Codigo) from ComprasSugeridas a where (a.Codigo=@Codigo)

		if @Existe>0
			Exec dbo.SP_BSC_ComprasSugeridasUpdate @Codigo,
			@Descripcion,
			@Centro,
			@Morelos;
		else
			Exec dbo.SP_BSC_ComprasSugeridasInsert @Codigo,
			@Descripcion,
			@Centro,
			@Morelos;
		
		commit;
		set @correcto=1
	end try
	begin catch
		rollback;
		set @correcto=0
	end catch

	select @correcto resultado
END
