USE [Central]
GO
/****** Object:  StoredProcedure [dbo].[SP_BSC_DocumentosUpdate]    Script Date: 25/08/2018 12:53:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF  EXISTS (SELECT * FROM SYS.OBJECTS WHERE TYPE = 'P' AND NAME = 'SP_BSC_DocumentosUpdate')
DROP PROCEDURE SP_BSC_DocumentosUpdate
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[SP_BSC_DocumentosUpdate]
	-- Add the parameters for the stored procedure here
	@DocumentosId bigint,
	@DocumentosNombre varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @correcto bit

	begin transaction;
	begin try
		UPDATE       Documentos
		SET                DocumentosNombre = @DocumentosNombre, FechaUpdate = GETDATE()
		WHERE        (DocumentosId = @DocumentosId)

		commit;
		set @correcto=1
	end try
	begin catch
		rollback;
		set @correcto=0
	end catch

	select @correcto resultado
END
