<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SES_Reportes_Connection" connectionString="XpoProvider=MSSqlServer;data source=25.57.171.249\Central;user id=sa;password=Soneli2018+-;initial catalog=SES_Reportes;Persist Security Info=true" />
    </connectionStrings>
</configuration>
<!--XpoProvider=MSSqlServer;data source=25.57.171.249\Central;user id=sa;password=Soneli2018+-;initial catalog=SES_Reportes;Persist Security Info=true-->