<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SES_Inventario_Connection" connectionString="XpoProvider=MSSqlServer;data source=SKYLINE\SQL2014;user id=;password=;initial catalog=SES_AlmacenV4;Persist Security Info=true" />
        <add name="SES_Inventarios_Connection" connectionString="XpoProvider=MSSqlServer;data source=SKYLINE\SQL2014;user id=sa;password=N3xu52019+-;initial catalog=SES_AlmacenV4;Persist Security Info=true" />
    </connectionStrings>
</configuration>